body{
    text-align: center;
}
h1{
    color: purple;

}
section{
    text-align: center;
}
#image-earth{
    width:200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }