body{
    text-align: center;
}

section{
    text-align: center;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5em;
    font-size: 8vw;
}

h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    font-size: 4vw;
}

h3 {
    font-family: 'Lobster Two', cursive;  
    font-size: 2em;
    font-size: 3vw;
}

p {
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
}

#image-earth{
    width:200px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.background-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0c/Sky_of_sunny_days.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.hurricane {
    font-family: 'Hurricane', cursive;
    font-size: 2em;
    font-size: 3vw;
}
